<!DOCTYPE html>
<html lang="en">

<head>
    <title>Edit Reservation</title>
    <link rel="stylesheet" href="css styles/admineditreservation.css">
</head>

<body>
    <header>
        <nav class="navbar-container">
            <div class="logo-container">
                <img src="assets\LOGO (WHITE).PNG">
            </div>
            <ul class="nav-links">
                <li><a href="/adminMenu">Home</a></li>
                <li><a href="/adminreserve">Reserve</a></li>
                <li><a href="/adminSearchUser">Search user</a></li>
                <li><a href="/adminProfile">Profile</a></li>
                <li><a href="/" id="logoutButton">Logout</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h1>Edit Reservation</h1>

        <form id="editReservationForm">
            <div class="input-group">
                <label for="lab">Lab:</label>
                <select id="lab" name="lab">
                    {{#each labs}}
                    <option value="{{this.name}}">{{this.location}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="input-group">
                <label for="date">Date:</label>
                <input type="date" id="date" name="date" value="{{reservation.date}}">
            </div>
            <div class="input-group">
                <label for="time">Time:</label>
                <select id="time" name="time">

                </select>
            </div>
            <div class="input-group">
                <label for="seatId">Seat ID:</label>
                <input type="text" id="seatId" name="seatId" value="{{reservation.seatId}}">
            </div>
            <div class="input-group">
                <label for="anonymous">Anonymous:</label>
                <input type="checkbox" id="anonymous" name="anonymous" {{#if reservation.anonymous}}checked{{/if}}>
            </div>
            <button class="button" type="submit">Update Reservation</button>
            <button class="button" type="button" id="cancelButton">Cancel</button>
        </form>
    </div>
    <script src="js files/lab-availability.js"></script>
    <script src="js files/adminEditReserve.js"></script>
    <script src="/js files/main.js"></script>
</body>

</html>