<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css styles\landing.css">
    <title>Time to Lab Login/Registration</title>
</head>

<body>
    <div class="container">
        <div class="box">
            <div class="in-box" style="background-image: url('assets/bg-photo.png');">
                <img src="assets/LOGO (WHITE).PNG" class="logo-img">

                <div class="field">
                    <form method="post" action="/login">
                        <button class="login-button" type="submit">login</button>
                    </form>

                    <form method="post" action="/register">
                        <button class="register-button" type="submit">register</button>
                    </form>

                    <form method="post" action="/adminLogin">
                        <button class="login-button" type="submit">admin login</button>
                    </form>

                </div>
            </div>
        </div>

    </div>

    <script src="js files/main.js"></script>
</body>

</html>