@import url('https://fonts.cdnfonts.com/css/octuple-max');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fffedc;
    font-family: 'Octuple max', sans-serif;
    margin: 100px;
    padding: 50px;
}

.table-container {
    margin-top: 20px;
}

.container {
    width: 80%;
    max-width: 800px;
    background-color:  #ecd2fd;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Nunito', sans-serif;
    background-color: #f8b5ca;
}

th, td {
    border: solid 2px #bc5978;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #ecd2fd;
}

tr:hover {
    background-color: #d2a8ef;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Octuple max', sans-serif;
    text-shadow: 0 0 10px rgba(255, 234, 234, 0.1); 
    color:#6b4880;
}

input[type="text"]{
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #6b4880;
    border-radius: 10px;
    font-size: 1rem;
    outline: none;
    font-family: 'Nunito', sans-serif;
    width: 70%;
}

.button-grp{
    display: flex;
    justify-content: center;
    width: 100%;
}

.button{
    width: calc(50% - 30px);
    margin-top: 10px;
    padding-bottom: 3.5%;
    padding: 10px;
    background-color: #cad8f2; 
    border: solid 2px #6b4880;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    color: #6b4880;
    font-family: 'Octuple max', sans-serif;
    font-size: 1.5rem;
    box-shadow: 0 0 10px rgba(190, 145, 206, 0.566);
}

.button:hover {
    background-color: #c2a3d69c;
    color: #ea458a;
    border-color: #ea458a;
    cursor: pointer;
}

/* FOR NAVIGATION BAR */
header {
    color: #ffffff; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20%;
    background-color: #ca618d;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo-container {
    flex: 1.5;
    display: flex;
    padding: 20px;
    max-width: 100%;
    height: 100%;
}

.logo-container img {
    width: 200px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #6b4880;
}