@import url('https://fonts.cdnfonts.com/css/octuple-max');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fffedc;
    font-family: 'Octuple max', sans-serif;
    margin: 100px;
    padding: 50px;
}

h1 {
    text-align: center;
    color: #6b4880;
    margin-bottom: 20px;
}

.lab-select, .date-select {
    text-align: center;
    color: #f071a6;
}

.lab-availability {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 10px;
    justify-content: center;
    margin: 20px;
}

.lab-available {
    background-color: #ecd2fd;
    padding: 10px;
    text-align: center;
    width: 100px;
    border-radius: 5px;
    align-items: center;
    box-shadow: 0 0 10px rgba(190, 145, 206, 0.566);
    border: solid 2px #6b4880;
    font-family: 'Nunito', sans-serif;
}

.lab-reserved {
    background-color: #f8b5ca;
    padding: 10px;
    text-align: center;
}

.lab-reserved a {
    color: white;
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 800px;
    background-color: #f8b5ca;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.lab-available:hover {
    background-color: #c2a3d69c;
    color: #ea458a;
    border-color: #ea458a;
    cursor: pointer;
}

label {
    margin-bottom: 5px;
    color: #7c1995;
    font-weight: bold;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: center;
}

.form-group label {
    margin-right: 10px;
    flex-shrink: 0;
}

.form-group select,
.form-group input[type="date"] {
    flex-grow: 1;
    padding: 10px;
    border: 2px solid #ea458a;
    border-radius: 10px;
    font-size: 1rem;
    outline: none;
    font-family: 'Nunito', sans-serif;
}

.button-grp{
    display: flex;
    justify-content: center;
    width: 100%;
}

.button{
    width: calc(50% - 30px);
    margin-bottom: 10px;
    padding-bottom: 3.5%;
    padding: 10px;
    background-color: #cad8f2; 
    border: solid 2px #6b4880;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    color: #6b4880;
    font-family: 'Octuple max', sans-serif;
    font-size: 1.5rem;
    box-shadow: 0 0 10px rgba(190, 145, 206, 0.566);
}

.button:hover {
    background-color: #c2a3d69c;
    color: #ea458a;
    border-color: #ea458a;
    cursor: pointer;
}


body {
    font-family: Arial, sans-serif;
}

h1 {
    font-family: 'Octuple max', sans-serif;
    text-align: center;
    color: #6b4880;
}

.lab-select, .date-select {
    margin: 20px 0;
    text-align: center;
    color:  #f071a6
}

.lab-availability {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 10px;
    justify-content: center;
    margin: 20px;
}

.lab-available {
    background-color: #cad8f2;
    padding: 10px;
    text-align: center;
}

.lab-reserved {
    background-color: #f8b5ca;
    padding: 10px;
    text-align: center;
}

.lab-reserved a {
    color: white;
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Nunito', sans-serif;
    background-color: #ecd2fd;
}

th, td {
    border: solid 2px #6b4880;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f8b5ca;
}

/* FOR NAVIGATION BAR */
header {
    background-color:#6b4880;; 
    color: #ffffff; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20%;
    background-color: #6b4880;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    font-family: 'Octuple max', Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo-container {
    flex: 1.5;
    display: flex;
    padding: 20px;
    max-width: 100%;
    height: 100%;
}

.logo-container img {
    width: 200px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #f071a6;
}
